#content {
	background-color:#3DFF17;
	padding:20px;
	border-radius: 40px;
	width: 40%;
	margin: 0 auto;

}
header{
	text-align: center;
}
.salad-picture{
	height: 200px;
}
h1 {
	
	font-family: 'Fredoka One', cursive;
}

p{
	font-size: 25px;
	font-family: 'Fredoka One', cursive;
}